spring:
  application:
    name: erp-eureka
server:
  port: ${PORT:8761}
eureka:
  server:
    maxThreadsForPeerReplication: 0
  instance:
    hostname: ${DOMAIN_NAME:http://localhost}
    prefer-ip-address: true
    app-group-name: erp
    appname: erp-eureka
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: https://${eureka.instance.hostname}:${server.port}/eureka/